# -*- mode: gitignore; -*-

##############################################################################
## Shellspec
##############################################################################

/coverage/
/report/

##############################################################################
## Completions
##############################################################################

/functions/_starship